<nav role="navigation">
  <ul class="nav nav-fill font-weight-bold btn-group">
      <div class="nav-item btn-group-lg" role="group" area-label="Dog Views">
        <button class="btn btn-primary" (click)="loadFavorites()">Favorites</button>
        <button class="btn btn-secondary" (click)="loadDogs()">All</button>
      </div>
  </ul>
</nav>
<div class="py-5">
  <div class="row" *ngIf="!viewFavorites">
    <dog *ngFor="let dog of dogs" [id]="dog.id" [dog]="dog"></dog>
  </div>
  <div class="row" *ngIf="viewFavorites">
    <dog *ngFor="let fav of favorites" [dog]="fav"></dog>
  </div>
</div>
